        /* Style for button */
        #myBtn
        {
            width:80px;
        }

        /* Style for image */
        #myImg
        {
            -webkit-transition: opacity 0.5s ease-in;
            -moz-transition: opacity 0.5s ease-in;
            -o-transition: opacity 0.5s ease-in;
        }
        #myImg.fade-out
        {
            opacity:0;
        }
        #myImg.fade-in
        {
            opacity:1;
        }

